/* ---------------------------------Site Web---------------------------------- */

/* -----------------Elements communs gauche et droite du site----------------- */

body {
    font-family: arial, sans-serif, serif;
    font-size : 12px;
    height: auto;
    width: 900px;
    margin:auto;
}
p {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

/* -----------------Partie gauche du site----------------- */

#conteneurGauche {
    display: flex;
    flex-direction: column;
    width: 30%;
    float: left;
}
h1 {
    width: 100%;
    background-color: grey;
    font-size: 1.4em;
    color: #81D4FA;
    text-align: center;
}
#photo {
    background-color: #81D4FA;
    text-align: center;
    height: 180px;
    padding-top: 35px;
}
#contact {
    background-color: #81D4FA;
    height: auto;
}
#aPropos {
    background-color: #81D4FA;
    height: 430px;
}
#loisirs {
    background-color: #81D4FA;
    height: 110px;
}
#loisirsLogos {
    text-align: center;
    padding-top: 10px;
}
.fa-car, .fa-globe-europe, .fa-music {
    padding-left: 10px;
    padding-right: 10px;
}

/* -----------------Partie droite du site----------------- */

#conteneurDroit
{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    float: right;
}
#titre {
    height: 150px;
    padding-top: 70px;
    padding-left: 50px;
}
/* Photo petite résolution non affichée car destinée à la version mobile */ 
#photo2 {
    display: none;
}
#nom {
    font-size: 4em;
}
#prenomCouleur {
    color: #81D4FA;
}
#sousTitre {
    font-size: 1.3em;
}
.hr1 {
    color: #81D4FA;
    width: 7%;
    text-align: left; 
    margin: 0; /*alignement gauche pour Firefox*/
}
h2 {
    padding-left: 30px;
    font-size: 1.4em;
}
#logoFormTitre, #logoExpProTitre, #logoRecomm {
    float: left;
    height: 30px;
    width: 50px;
    padding-left: 50px;
    padding-top: 5px;
}
.fa-user-graduate, .fa-briefcase, .fa-pen-nib {
    color: #81D4FA;
    font-size: 1.4em;
    padding-top: 10px;
}
.hr2 {
    color: #81D4FA;
    width: 87%;
    text-align: left; 
    margin-top: 10px;
    margin-left: 50px; /*alignement gauche pour Firefox*/
}
#logoForm1, #logoForm2, #logoForm3, #logoForm4, #logoExpPro1, #logoExpPro2, #logoExpPro3 {
    float: left;
    height: 50px;
    width: 20px;
    padding-left: 50px;
    padding-top: 20px;
}    
#anneesForm1, #anneesForm2, #anneesForm3, #anneesForm4, #anneesExpPro1, #anneesExpPro2, #anneesExpPro3 {
    float: left;
    height: 50px;
    width: 150px;
    padding-top: 20px;
}
#descriptionForm1, #descriptionForm2, #descriptionForm3, #descriptionForm4, #descriptionExpPro1, #descriptionExpPro2, #descriptionExpPro3 {
    height: auto;
    width: auto;
    padding-top: 20px;
}
.fa-clock, .fa-check-circle {
    color: black;
    padding-right: 10px;
}
#enteteRecomm {
    padding-top: 25px;
}
#entreprise1 {
    height: auto;
    width: 250px;
    padding-top: 20px;
    padding-left: 50px;
    float: left;
}
#entreprise2 {
    float: left;
    height: auto;
    width: 250px;
    padding-top: 20px;
}

/* ---------------------------------Site Mobile 1---------------------------------- */

@media (min-width:550px) and (max-width:768px) and (orientation: portrait) {
    body {
        width: 100%;
    }
    #photo2 {
        display: block;
        text-align: center;
    }
    /* Non affichage de la photo de la version Web */
    #photo {
        display: none;
    }
    #titre {
        height: auto;
        padding-top: 5px;
        padding-left: 0px;
        text-align: center;
    }
    .hr1 {
        display: none;
    }
    .hr2 {
        margin-top: 5px;
        margin-left: 30px; /*alignement gauche pour Firefox*/
    }
    #titreForm, #titreExpPro, #titreRecomm {
        width: 90%;
    }
    #logoFormTitre, #logoExpProTitre, #logoRecomm {
        width: 10%;
        padding-left: 30px;
    }
    #logoForm1, #logoForm2, #logoForm3, #logoForm4, #logoExpPro1, #logoExpPro2, #logoExpPro3 {
        height: 40px;
        width: 5%;
        padding-left: 30px;
        padding-top: 10px;
    }
    #anneesForm1, #anneesForm2, #anneesForm3, #anneesForm4, #anneesExpPro1, #anneesExpPro2, #anneesExpPro3 {
        height: 50px;
        width: 20%;
        padding-top: 10px;
    }
    #descriptionForm1, #descriptionForm2, #descriptionForm3, #descriptionForm4 {
        width: 95%;
        padding-top: 10px;
    }
    #descriptionExpPro1, #descriptionExpPro2, #descriptionExpPro3 {
        padding-top: 10px;
        height: auto;
    }
    h2 {
        padding-left: 10px;
        font-size: 1.3em;
    }
    .fa-user-graduate, .fa-briefcase, .fa-pen-nib {
        font-size: 1.3em;
        padding-top: 5px;
    }
    #conteneurDroit {
        width: 100%;
        position: relative;
    }
    #enteteRecomm {
    padding-top: 0px;
    }    
    #entreprise1 {
        width: 40%;
        padding-top: 5px;
        padding-left: 30px;
    }
    #entreprise2 {
        width: 40%;
        padding-top: 5px;
    }
    #contact {
        position: absolute;
        top: 827px;
        width: 30%;
        height: 293px;
    }
    #aPropos {
        position: absolute;
        top: 827px;
        left: 144px;
        height: 158px;
        width: 70%;
    }
    #loisirs {
        position: absolute;
        top: 985px;
        left: 144px;
        height: 135px;
        width: 70%;
    }
    h1 {
        margin-left: 5px;
        font-size: 1.3em;
        width: 98%;
    }
    /* Pour créer un espace entre les titres Contact et A propos de moi */
    #contact > h1 {
        width: 70%;
    }
}

/* ---------------------------------Site Mobile 2---------------------------------- */

@media (max-width:549px) and (orientation: portrait) {
    body {
        width: 100%;
    }
    #photo2 {
        display: block;
        text-align: center;
    }
    #photo {
        display: none;
    }
    #titre {
        height: auto;
        padding-top: 5px;
        padding-left: 0px;
        text-align: center;
    }
    .hr1 {
        display: none;
    }
    .hr2 {
        margin-top: 5px;
        margin-left: 30px; /*alignement gauche pour Firefox*/
    }
    #titreForm, #titreExpPro, #titreRecomm {
        width: 90%;
    }
    #logoFormTitre, #logoExpProTitre, #logoRecomm {
        width: 10%;
        padding-left: 30px;
    }
    /* Non affichage des logos pour aérer en largeur */
    #logoForm1, #logoForm2, #logoForm3, #logoForm4, #logoExpPro1, #logoExpPro2, #logoExpPro3 {
        display: none;
    }
    #anneesForm1, #anneesForm2, #anneesForm3, #anneesForm4, #anneesExpPro1, #anneesExpPro2, #anneesExpPro3 {
        height: 61px;
        width: 25%;
        padding-top: 10px;
        padding-left: 5px;
    }
    #descriptionForm1, #descriptionForm2, #descriptionForm3, #descriptionForm4 {
        width: 95%;
        padding-top: 10px;
    }
    #descriptionExpPro1, #descriptionExpPro2, #descriptionExpPro3 {
        padding-top: 10px;
        height: auto;
    }
    h2 {
        padding-left: 10px;
        font-size: 1.3em;
    }
    .fa-user-graduate, .fa-briefcase, .fa-pen-nib {
        font-size: 1.3em;
        padding-top: 5px;
    }
    #conteneurDroit {
        width: 100%;
        position: relative;
    }
    #enteteRecomm {
    padding-top: 0px;
    }    
    #entreprise1 {
        width: 40%;
        padding-top: 5px;
        padding-left: 30px;
    }
    #entreprise2 {
        width: 40%;
        padding-top: 5px;
    }
    #contact {
        position: absolute;
        top: 890px;
        width: 35%;
        height: 320px;
    }
    #aPropos {
        position: absolute;
        top: 890px;
        left: 144px;
        height: 185px;
        width: 70%;
    }
    #loisirs {
        position: absolute;
        top: 1075px;
        left: 144px;
        height: 135px;
        width: 70%;
    }
    h1 {
        margin-left: 5px;
        font-size: 1.3em;
        width: 98%;
    }
    #contact > h1 {
        width: 70%;
    }
}